vroom.nooshin.samanznd.com, vroom.nooshinshdn.ir {
    handle /pushed/* {
        reverse_proxy host.docker.internal:9000
    }

    handle {
        reverse_proxy nooshin-vroom-frontend-1:80
    }
}
